<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <ul>
        <li> @Html.ActionLink("Places", "Index", "Places")</li>
        <li> @Html.ActionLink("Experiences", "Index", "Experiences")</li>
        <li> @Html.ActionLink("People", "Index", "People")</li>
    </ul>
    <div>
        @RenderBody()
    </div>
</body>
</html>
