@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TravelBlog.Models.Experience

<h2>Create</h2>
<h4>Add a new Experience</h4>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Story)
        @Html.TextAreaFor(model => model.Story, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PlaceId)
        @Html.DropDownListFor(model => model.Name, (IEnumerable<SelectListItem>)ViewBag.PlaceId, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PersonId)
        @Html.DropDownListFor(model => model.Name, (IEnumerable<SelectListItem>)ViewBag.PersonId, new { @class = "form-control" })
    </div>
        <input type="submit" value="Add new Experience" />
        }
